body {
  padding: 0px;
  margin: 0px;
  margin-left: 0px;
}
.parent1 {
  display: flex;
  gap: 50px;
  padding-left: 30px;
}
.heading {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  gap: 30px;
  padding-top: 30px;
  padding-right: 20px;
  flex-direction: row;
}

.menu :hover{
  color: red;
}

.stick {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  
}

#schedule {
  background-color: black;
  color: white;
  border-radius: 20px;
  height: fit-content;
  width: 110px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

#schedule :hover{
  color: red;
}
.email {
  display: flex;
  gap: 10px;
}
.emailicon {
  padding-top: 12px;
  gap: 10px;
}

.location {
  display: flex;
  gap: 0px;
}

.addicon {
  padding-top: 7px;
}
.info {
  display: flex;
  justify-content: space-between;
}
.social {
  gap: 10px;
  padding-right: 20px;
}
.villahead {
  padding-left: 25px;
}
#home {
  color: red;
}

#bgimg {
  width: 100%;
  height: 70%;
  position: relative;
}
.textoverimg {
  position: absolute;
  top: 40%;
  left: 20%;
  font-size: large;
  color: white;
}
#toronto {
  background-color: white;
  width: 130px;
  height: 25px;
  color: black;
  padding-left: 10px;
  padding-top: 5px;
  padding-right: 10px;
}
.hurry {
  font-size: 25px;
}

.parent2 {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  padding-right: 20px;
  margin-left: 0px;
  gap: 20px;
}
.pic {
  padding-left: 50px;
}

.usefulink {
  background-color: rgba(248, 243, 243, 0.959);
  border-radius: 20px;
  padding-left: 10px;
  padding-top: 1px;
  height: 280px;
}
.featured {
  height: 400px;
  flex-direction: column;
}
.details {
  height: 510px;
  width: 220px;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.infoimg {
  display: flex;
  gap: 20px;
}
.im {
  padding-top: 30px;
}

#ogpic {
 
  width:"350px";
   height:"300px";
}

.imgfeatured {
  background-color: rgb(255, 106, 6);

  margin-left: 0px;
  margin-top: 20px;
  width: 50px;
  border-radius: 99px;
  position: relative;
  bottom: 100px;
  left: 40px;
  width: 60px;
  padding-left: 15px;
  padding-top: 10px;
}

.villa1{
  margin-left: 30px;
  width:400px ;
  padding-top: 0px;

  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2) ;
  border-radius: 10px;
}


.addupload{
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

#uploadicon{
  padding-top: 12px;
}

.locplace{
  display: flex;
  padding-left: 10px;
  gap: 10px;
}

#locationicon{
  padding-top: 10px;
}


.background1{
  background-image:url(./images/bg\ vid.jpg);
  filter: blur(8px);
  -webkit-filter: blur(7px);
  position: absolute; 
  height: 400px; 
  width: 100%; 
  background-position: center; 
  z-index: -1; 
}
.video{
  text-align: center;
  padding-top: 50px; 
 
}


.pg3{
  padding-right: 0px;
  margin-left: 0px;
  padding-left: 0px;
}

.grid{
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;

}


#models{
  text-align: center;
}

#vill1img{
  width:280px;
  height: 260px;
}


.hamburger{
  display: none;
}

.proplist{
  background-color: rgb(247, 247, 240);
  padding-top: 20px;
  border-radius: 10px;
  
}

.exceptimg{
  padding-left: 20px;
}

#propimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
 
  width:280px;
  height: 260px;
}

.typeprice{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 15px;
}

.bedbath{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.area{
  display: flex;
  flex-direction: row;
  gap: 20px;
}


#proptype{
  background-color: rgb(244, 192, 173);
  width: 95px;
  padding-left: 8px;
  border-radius: 5px;
}

#propprice{
  color: red;
}

#visit{
  background-color: black;
  color: white;
  width: 115px;
  padding-left: 15px;
  border-radius: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}

.background2{
  background-image:url(./images/bg\ map.jpg);
  filter: blur(8px);
  -webkit-filter: blur(5px);
  position: absolute; 
  height: 450px; 
  width: 100%; 
  background-position: center; 
  z-index: -1; 
}

.container{
  padding-top: 20px;
  text-align: center;
  
}

.map{
  margin-left: 50px;
  padding-left: 50px;
  display: block;
  width: 100%;
}
.form{
 align-items: center;
 justify-content: center;
 width: 500px;
 height: 520px;
 margin-right: 100px;
 box-shadow: 0 3px 10px rgb(0 0 0 / 0.2) ; 
 border-radius: 10px;
 padding-left: 50px;
 padding-top: 30px;
 padding-bottom: 20px;
 background-color: white;
}

.ip{
  background-color: rgb(247, 247, 247);
  border-color: rgb(247, 247, 247) ;
  border-width: thin;
  border-radius: 5px;
}

#send-message{
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 20px;
  width: 130px;
  
}

.map-form{
  display: flex;
  gap: 150px;
}

.contact-details{
  display: flex;
  padding-left: 100px;
  gap: 100px;
  
}

#phoneicon{
  width: 30px; 
  height: 30px;
  padding-top: 25px;
}

.phone{
  display: flex;
  gap: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2) ;
  width: 200px;
  padding-left: 20px;
  height: 70px;
  padding-bottom: 5px;
  border-radius: 10px;
}

#mailicon{
  width: 40px; 
  height: 40px;
  padding-top: 20px;
}

.mail-bottom{
  display: flex;
  gap: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2) ;
  width: 200px;
  padding-left: 20px;
  height: 70px;
  padding-bottom: 5px;
  border-radius: 10px;
}

.footer{
  background-color: rgb(25, 22, 22);
  height: 100px;
  color: white;
}
#copyright{
  text-align: center;
  padding-top: 40px;
}







/* Media query for mobile view */
@media only screen and (max-width: 867px) {
  .hamburger{
    display: block;
    width: 20px;
    height: 20px;
    padding-right: 25px;
    padding-top: 30px; 
    
  }
  .headham{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .menu {    
    display: none;
  }

  .parent1 {
    flex-direction: column;
    gap: 0.5px;
  }
  .parent2 {
    flex-direction: column;
    gap: 50px;
  }


  .textoverimg {
    position: absolute;
    top: 50%;
    left: 20%;
    font-size: large;
  
    color: white;
  }
  .details {
    margin-left: 30px;
    margin-top: 20px;
    display: block;
   margin-left: auto;
   margin-right: auto;
    
    
  }
  .featured {
    margin-left: 30px;
    text-align: center;
  }
  .imgfeatured {
    visibility: hidden;
  }

  #toronto {
    width: 30px;
    height: 5px;
    margin-top: 50px;
    padding-bottom: 5px;
    font-size: 5px;
  }

  .hurry {
    font-size: 10px;
  }

  .stick {
    width: 100%;
  }

  .info {
    flex-direction: column;
    
  }

  .social {
    margin-left: 30px;
  }

  #ogpic{
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  width: 250px;
  
  
  }

  #vid{
    width: 310px;
  }

  .pg3{
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-right: 20px;
    align-items: center;
    
    
  }

  .grid{
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr;
  margin-left: auto;
   margin-right: auto;
  
  }


  .villa1{
    width: 200px;
    height: 370px;

  }

  #vill1img{
    width: 270px;
    height: 250px;
  }


}


